
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
body, h1 {
    font-family: 'Avenir LT Std';
    color: rgb(51, 51, 51);
    margin: 0;
}
html {
    background: white;
}

body {
    background: url("img/background.png") repeat;
    opacity: 0.5;
}

h1 {
    margin: 1rem;
}

.gommettes {
    width: 60%;
}
.gtm-container {
    display:flex;
    align-items:center;
}

.gommette {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 0;
    border-bottom: #6F6C6C 1px solid;
}

.username {
    width: 40%;
}

.btn {
    border-radius: 1.5rem;
    padding: .5rem;
    cursor: pointer;
    color: white;
    font-weight: bold;
    background-color: rgb(0, 165, 83);
}
.btn:hover {
    -webkit-box-shadow: 0px 0px 11px 0px #6F6C6C;
    box-shadow: 0px 0px 11px 0px #6F6C6C;
}
img {
    width: 4rem;
    height: 4rem;

}

.podium {
    height: 3rem;
    width: 2.5rem;
    font-size: 2rem;
}
